body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 5%;
  row-gap: 20px;
}

.gal {
  width: 100%;
  max-width: 500px;
  overflow-x: hidden;
}

.gal__list {
  width: 1000%;
  display: flex;
  transition: margin-left 0.4s;
}

.gal__item {
  width: 10%;
}

.gal__image {
  min-height: 250px;
  object-fit: cover;
}



@media (min-width: 768px) {
  .gal {
    max-width: 800px;
  }

  .gal__list {
    column-gap: 0.4%;
  }

  .gal__item {
    width: 4.8%;
  }
}



@media (min-width: 1024px) {
  .gal {
    max-width: 1200px;
  }

  .gal__list {
    column-gap: 0.2%;
  }

  .gal__item {
    width: 3.2%;
  }
}


/*
.controls {  
  width: 100%;
  max-width: 500px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls__btn-left,
.controls__btn-right {
  background: url('images/arrow-left.svg') no-repeat center;
  background-size: 80%;
  width: 40px;
  height: 40px;
}

.controls__btn-right {
  background-image: url('images/arrow-right.svg');
}

button:disabled {
  opacity: 0.2;
}

.controls__markers-list {
  display: flex;
  column-gap: 10px;
}

.controls__marker {
  background: lightgray;
  border: 1px solid white;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.controls__marker_current {
  background: black;
  border-color: black;
}
*/