* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  line-height: 1.4em;
}

h2 {
  font-size: 24px;
  line-height: 1.5em;
}

h3 {
  font-size: 19px;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  background: transparent;
  color: inherit;
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}



@media screen and (min-width: 641px) {
  body {
    font-size: 18px;
  }

  h1 {    
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }
}



@media screen and (min-width: 961px) {
  h1 {    
    font-size: 64px;
  }

  h2 {
    font-size: 40px;
  }
}



.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-cntr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-norep {
  background-repeat: no-repeat;
}

.bg-norep-cntr {
  background-repeat: no-repeat;
  background-position: center;
}